<ion-view title="城市列表">
  <ion-content class="has-header">
      <h1>选择城市</h1>
        <ion-list>
              <ion-item ng-repeat="city in cities">
              <span ui-sref="tab.home" ng-click="changeCity('{{city.id}}')">
                {{city.name}}
              </span> 
              </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
