<ion-view title="天气">
  <ion-content class="has-header">
    <!-- Display current location's weather data-->
    
    <ion-refresher pulling-text="下拉更新..." on-refresh="doRefresh()">
    </ion-refresher>

    <h3>{{city}}</h3>
    <h5><weather-icon icon="current.icon" id="current-icon"></weather-icon> {{current.currently.summary}}</h5>

    <p>现在的天气是：</p>  
  <span class="large">{{current.currently.temperature}} ° </span>
  </ion-content>
</ion-view>