<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">
  <!-- home Tab -->
  <ion-tab title="天气" icon="icon ion-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Cities Tab -->
  <ion-tab title="更改城市" icon="icon ion-heart" href="#/tab/city">
    <ion-nav-view name="tab-cities"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="设置" icon="icon ion-gear-b" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>
</ion-tabs>